<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-image: url("{{ url_for('static', filename='img/fondo_pixel_art.png') }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
        padding: 20px;
    }
